@use 'variables';
@use 'sass:color';
// GENERAL

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  background-color: variables.$body;
  box-sizing: border-box;
  color: variables.$text;
  font-size: 12px;
  line-height: 1.6;
  margin: 0 8px;
  font-family: variables.$system_ui;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1020px;
}

// HEADER

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    img {
        height: 75px;
        padding: 20px 0 0 20px;
    }
}

#userinfo {
    margin-top: 20px;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 10px;

        li {
            a, span {
                font-size: 13px;
            }

            a {
                text-decoration: none;
                color: variables.$userinfo_a;
            }
            span {
                color: variables.$text;
            }

            a:hover {
                color: variables.$userinfo_hover
            }
        }
    }
}

// NAVBAR

#navbar {
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    div {
        display: flex;
        flex-direction: row;

        ul {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
        }
    }

// NAVBAR - MENU

    #menu > ul {
        width: 100%;
    }


    #menu > ul > li {
        width: 100%;
        background-color: variables.$menu;
        list-style: none;
    }

@for $i from 1 through 7 {
    #menu > ul > li:nth-child(7n - #{$i}) {
        background-color: darken($color: variables.$menu, $amount: variables.$step_str * $i);
    }}

    #menu > ul > li > a {
        display: block;
        height: 100%;
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        font-size: 13px;
        font-weight: 900;
        color: variables.$text;
    
    }

    #menu > ul > li > a:hover {
        background-color: variables.$menu_a_hover;
    }

    #menu > ul > li > a:active {
        background-color: variables.$menu_a_active;
    }

    #menu > ul > li > div > a {
        display: none;
    }

// NAVBAR - SEARCHBARS

    #searchbars {
        background-color: variables.$searchbar_ul;
    }

    #searchbars > ul {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        margin: 10px 10px;
    }

    #searchbars > ul > li {
        display: inline-block;
        flex: 1 1 auto;
    }

    #searchbars > ul > li > input {
        width: 100%;
        height: 28px;
        border: none;
        background-color: variables.$searchbar_input_bg;
        color: variables.$text;
    }

    #searchbars > ul > li> input:focus {
        background-color: variables.$body;
        outline: none;
        color: variables.$searchbar_font_focus;
    }
}

