/* Gotta learn Sass, because Ho-ly fuck, vanilla CSS doesn't have even the most primitive tools. 
For example, why tf can't I even use [n] of children as a variable, FFS. 
I had to manually make 6 variables, instead of just using [n] as one.  */

@import "./styles_global.css";

*{
    margin: 0;
    color: var(--text);
    font-family: "Segoe_UI";
    list-style: none;

}

body{
    font-size: 12px;
}

input{
    color: black;
}

#bg{
    background-color: var(--bg);
}

#wrapper{
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1020px;
    background-color: var(--wrapper);
}

#logo{
    display: inline-block;
    width: 80px;
    padding: 0px;
}

header{
    margin: 10px 0 0 10px;
    display: flex;
    justify-content: space-between;
}

#userinfo{
    margin: 5px 0 2px 0;
}

#userinfo_support, #userinfo_stats{
    display: flex;
    flex-direction: row, nowrap;
    justify-content: flex-end;
    gap: 10px;
    font-size: 13px;
}

#userinfo_support li a, #userinfo_stats li a{
    text-decoration: none;
}

#menu ul{
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: stretch;
    background: var(--menu);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13px;
    font-weight: 800;
}


#menu li:not(#burger_li){
    display: inline-block;
    width: calc(20% - var(--burger_width) / 5);
    text-align: center;
    align-content: center;
}

#burger{
    display: inline-block;
    width: var(--burger_width);
}


#menu li:nth-child(1){
    --nth-child: 1;
}
#menu li:nth-child(2){
    --nth-child: 2;
}
#menu li:nth-child(3){
    --nth-child: 3;
}
#menu li:nth-child(4){
    --nth-child: 4;
}
#menu li:nth-child(5){
    --nth-child: 5;
}
#menu li:nth-child(6){
    --nth-child: 6;
}

#menu li{
    background-color: hsla(0, 0%, 0%, calc((6 - var(--nth-child)) * var(--step_str)));
}

#menu li:hover{
    backdrop-filter: brightness(var(--hover_brt));
}

#menu li:active{
    backdrop-filter: brightness(var(--active_brt));
}

#menu a{
    text-decoration: none;
}

.dropdown_items{
    display: block;
    padding: 10px 15px;
}

.dropdown .dropdown_content{
    display: none;
    position: relative;
    background-color: var(--menu);
    width: 260px;
    text-align: left;
    margin: 17px;
}

.dropdown_content a{
    display: block;
}

.dropdown_content:hover{
    backdrop-filter: brightness(0.2);
}

.dropdown:hover .dropdown_content{
    display: block;
}

.dropdown_items:hover{
 .dropdown-content a:hover {background-color: #ddd;}
}

#searchbars ul{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px 10px;
    background: var(--navbar);
}

#searchbars input{
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: var(--navbar_ul);
    color: var(--text);
    width: 100%;
    text-indent: 10px;
    padding: 0px;
}

/* NOW, HERE STOPS THE *.CSS FOR THE [navbar] */

#content{
    display: inline-flex;
    height: 100vh;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}

#major{
    width: 70%;
    background-color: rgba(255, 255, 255, var(--content_alpha));
}

#minor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

#minor ul{
    list-style: none;
    padding: 0px;
}

.minor_box{
    background-color: rgba(255, 255, 255, var(--content_alpha));
}

.heading{
    padding: 12px;
    align-content: center;
    background-color: var(--minor_heading);
}

.heading a{
    text-decoration: none;
    font-weight: bold;
}

#motm_img{
    align-content: center;
    text-align: center;
}

#motm_img img{
    width: 200px;
}