:root{
    --burger_width: 50px;
    --bg: #181a1b;
    --wrapper: #121616;
    --text: #c6d2c8;
    --step_str: 0.12;
    --menu: #00ad8a;
    --navbar: #252f32;
    --navbar_ul: #1c2424;
    --minor_heading: #324041;
    --hover_brt: 106%;
    --active_brt: 112%;
    --content_alpha: 0.02;
}


@font-face{
    font-family: "Segoe_UI";
    src: url(../fonts/SegoeUI-VF.ttf);
}

